# welcome to learn python

# print function

In [0]:
# anything inside the double quotes that will be printed as a output
print("hello world")
print("12343")
print("!@$#$%^&**((())()(")

hello world
12343
!@$#$%^&**((())()(

# comment lines

single comment line

In [0]:
# print("hello world")

mtliple line comment

In [0]:
# '''print("hello world")
# print("12343")
# print("!@$#$%^&**((())()(")'''


# print("hello world")
# print("12343")
# print("!@$#$%^&**((())()(")

'''  ''' is not working in colab

In [0]:
"""This is a commentwritten inmore than just one line"""

'This is a commentwritten inmore than just one line'

# Variables

In [0]:
x = 10

In [0]:
x = "welcome"

In [0]:
# asign same value to multiple variables
x = y = z = 1
print(x)
print(y)
print(z)

1
1
1

**multiple** **variable**

In [0]:
x, y, z = [1,2,3]
x, y, z = 1,2,3
x, y, z = (1,2,3)

In [0]:
x = 2
y = 3
z = x + y
s = z
print("Sum of x + y is: ", z)

Sum of x + y is:  5

In [0]:
# unique id(memory reference) of a variable
a = 50
#print id(a)
s1 = 257
s2 = 257

print (id(s1))
print (id(s2))

139897374675696
139897374675408

# Local Variable

In [0]:
g = "hello"

#Local Variable
def bob():
    global l
    l = "local"
    print(l)

def foo():
    return "hello"
    print(a)

print (foo())
a = foo()
print(a)
# print(me)   # Asking for a global variable

hello
hello

global variable

In [0]:
# Global variable
def bob():
    global me
    me = "locally defined"   # Defined locally but declared as global
    print(me)

bob()
print(me) # Asking for a global variable

locally defined
locally defined

In [0]:
# Refer to global variable if not found locally
s = "I love New York!!!"

def f(): 
    print(s) # try to find in global scope
    
s = "I love Paris in the summer!!!" #global scope

f()

I love Paris in the summer!!!

In [0]:
#  Can't use variable locally before defining it
def f(): 
    print(s) # Error
    s = "I love London!"

s = "I love Paris!" 
f()
print(s)

UnboundLocalError: ignored

# Data Types
Text Type: 	str

Numeric Types: 	int, float, complex

Sequence Types: 	list, tuple, range

Mapping Type: 	dict

Set Types: 	set, frozenset

Boolean Type: 	bool

Binary Types: 	bytes, bytearray, memoryview

In [0]:
# text 
x = "string"
print("text : ",x)

text :  string

In [0]:
# numeric data type
x = 10
y = 10.0
z = 10j
print("int = ",x,"float = ",y,"complex = ",z)

int =  10 float =  10.0 complex =  10j

# List

In [0]:
# Sequence type
x = ["apple", "banana", "cherry"] 
print(x)

['apple', 'banana', 'cherry']

In [0]:
# index start from 0 to n
x[0]

'apple'

In [0]:
x[1]

'banana'

In [0]:
x[2]

'cherry'

In [0]:
# while exceeding the index value it givse error
x[3]

IndexError: ignored

# Data types

Integer

In [0]:
a = 5
print(a, "is of type", type(a))

5 is of type <class 'int'>

float

In [0]:
a = 2.0
print(a, "is of type", type(a))

2.0 is of type <class 'float'>

complex

In [0]:
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

(1+2j) is complex number? True

str

In [0]:
a = "Grey Atom"
print(a, "is of type", type(a))

Grey Atom is of type <class 'str'>

bool

In [0]:
a = True
print(a, "is of type", type(a))

True is of type <class 'bool'>

In [0]:
a = [1, 2, 3, 4, "hello", ["a", "b"], True, False]
#print(a, "is of type", type(a))

a = None
b = None 
print(a)

None

Dictionary

In [0]:
a = {"institute" : "Grey Atom", "course" : "Data Science"}
print(a, "is of type", type(a))

{'institute': 'Grey Atom', 'course': 'Data Science'} is of type <class 'dict'>

List

In [0]:
#a = ("Peter", "Male", 26)
#print(a, "is of type", type(a))

l = [1,2,3,4]
m = l

#l = l.append(5)

m.append(6)

print(l,type(l))
print(m,type(m))

[1, 2, 3, 4, 6] <class 'list'>
[1, 2, 3, 4, 6] <class 'list'>

In [0]:
print ("Total Money in My Pocket: ", 10*5 + 5*100)

Total Money in My Pocket:  550

In [0]:
print("2 to the power 4 is : ", 2 ** 4);

2 to the power 4 is :  16

In [0]:
print("Power can also be calculated with pow(): ", pow(2, 4))

Power can also be calculated with pow():  16

In [0]:
print ("Is it true that 2 is less than 3? ", 2 == 3)

Is it true that 2 is less than 3?  False

In [0]:

print("Remainder of 5 divided by 2: ", 5%2)

Remainder of 5 divided by 2:  1

In [0]:
num1= 5
num2 =10

sum  = num1+num2
print (sum)

15

In [0]:
# Rounding a float value
print("rounding a float value : ", round(2.8));

('rounding a float value : ', 3.0)

rounding a float value :  3

('rounding a float value : ', 3.0)

In [0]:
# Absolute value
print("absolute value of -2 is : ", abs(-2))

absolute value of -2 is :  2

In [0]:
import math
print (type(math))

print (math.sqrt(12))
print (math.floor(2.5))

<class 'module'>
3.4641016151377544
2

# STRING

In [0]:
str1 = 'single quotes'
print(str1)

single quotes

In [0]:

str2 = "double quotes"
print(str2)

double quotes

In [0]:

print ('The newline \n will not expand')

The newline
 will not expand

In [0]:
# Character can be accessed by index
string = "hello world"
print (string[0])

h

In [0]:
# Concatenation
string = "hello world"
string = string + ' Goodbye, world';
print(string)

hello world Goodbye, world

In [0]:
# Repeat words
string = "hello world "
print(string*2)

hello world hello world

# *SUBSTRING*

In [0]:
# Substrings

string = "Hello world again and again"
string[10:-23]

print (string[6:11]) # "world"
print (string[:5])   # "Hello"
print (string[22:])  # "again"
print (string[-7:-2])# "d aga"

world
Hello
again
d aga

# LIST

In [0]:
marks = [20, 50, 30, 80, 75,  65]

list_of_different_objects = ["Peter", 1000, 10.5]

list_of_lists = [marks, list_of_different_objects, ['red','green','blue']]

# Empty list
empty_list = []
empty_list.append(1) # add 1 to list
empty_list.append(2) # add 2 to list
empty_list.append(3) # add 3 to list
print (empty_list)

[1, 2, 3]

In [0]:
# list indexing
x = [1,2,3,4,5]
x[0]

1

In [0]:
# Access from last value
x[-1]

5

In [0]:
# List element can be accessed by index position like in string
marks = [20, 50, 30, 80, 75,  65]
print (marks[0])  # 20
print (marks[2])  # 30
print (marks[-1]) # index from last
print (marks[-4]) # index from last

20
30
65
30

In [0]:
# Nested list
nested_list = [1,2,3,[4,5,['target']]]
print (nested_list[3])
print (nested_list[3][2])

[4, 5, ['target']]
['target']

In [0]:

colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
print (colors[1:-1])        # ['RED', 'YELLOW']

colors[0:2] = ["PURPLE"]    # replace ['RED', 'GREEN'] with ['PURPLE']
print (colors)

['GREEN', 'BLUE']
['PURPLE', 'BLUE', 'YELLOW']

In [0]:
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
# The for-in statement makes it easy to loop over the items in a list
for item in colors:
        print (item)

RED
GREEN
BLUE
YELLOW

In [0]:
        
# If you need both the index and the item, use the enumerate function
for index, item in enumerate(colors):
    print(index, item)

# Uncommon way - If you need only the index, use range and len
for index in range(len(colors)):
    print(index)

0 RED
1 GREEN
2 BLUE
3 YELLOW
0
1
2
3

In [0]:

# The list object supports the iterator protocol
itr = iter(colors)
print(itr.__next__()) # fetch first value
print(itr.__next__() )# fetch second value

RED
GREEN

In [70]:
# Sum & Length
marks = [20, 50, 30, 80, 75,  65]

print (sum(marks))
print (len(marks))

320
6

In [69]:

# append element at end
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
colors.append('PURPLE')
print (colors)

['RED', 'GREEN', 'BLUE', 'YELLOW', 'PURPLE']

In [68]:

# insert at given index
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
colors.insert(1,'PURPLE')
print (colors)

['RED', 'PURPLE', 'GREEN', 'BLUE', 'YELLOW']

In [67]:

# Extend - adds the elements in list2 to the end of the list1.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print (list1)

[1, 2, 3, 4, 5, 6]

In [66]:

# Extend using +
level = ["beginner", "intermediate", "advanced"]
other_words = ["novice", "expert"]
print (level + other_words)

['beginner', 'intermediate', 'advanced', 'novice', 'expert']

In [65]:
# Index of an element
colors = ['RED', 'GREEN', 'BLUE', 'YELLOW']
print (colors.index('BLUE'))

2

In [64]:

# Remove list element
num = [1, 2, 3, 4]
num.remove(2)
print (num)

[1, 3, 4]

In [63]:

# use del to remove
num = [1, 2, 3, 4]
del num[1]
print (num)

[1, 3, 4]

In [62]:

# Sort in ascending order
num = [5, 2, 4, 3]
num.sort()
print (num)

[2, 3, 4, 5]

In [61]:

# Reverse list
letters = ['A', 'B', 'C', 'D']
letters.reverse()
print (letters)

['D', 'C', 'B', 'A']

In [60]:

# pop a value
num = [10, 20, 30, 40]
x = num.pop(2)
print (x)
y = num.pop()
print (y)

30
40

In [59]:

# check for pallindrome
list = ['a', 'b', 'c', 'b', 'a']
print (list == list[::-1])

True

In [58]:

# Remove duplicate from list
t = [1, 2, 3, 1, 2, 5, 6, 7, 8]
s = []
for i in t:
       if i not in s:
          s.append(i)
        
print (s)

[1, 2, 3, 5, 6, 7, 8]

In [57]:

#Median
list = [13, 23, 11, 16, 15, 10, 26]
list.sort()
print (list)
length = len(list)
print ('Median is: ', list[int(length/2)])

[10, 11, 13, 15, 16, 23, 26]
Median is:  15

In [56]:

# Generational Comprehension
l = []
for i in range(10):
    l.append(i*i)

d = {"a":1 , "b":2, "c":1 }

l = [(k, d[k]) for k in d]
print (l)

[('a', 1), ('b', 2), ('c', 1)]

In [53]:

# List Comprehension - Cross product of two sets
colours = ["red", "green", "yellow"]
things = ["house", "car", "tree" ]
coloured_things = [ (x,y) for x in colours for y in things ]
print (coloured_things)

[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree')]

In [54]:

# Convert Celsius to Fahrenheit 
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = [ ((float(9)/5)*x + 32) for x in Celsius ]
print (Fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

# Dict
Python's efficient key/value hash table structure is called a "dict".

In [51]:
## dict[key] = value-for-that-key
institute = {}
institute['name'] = 'Grey Atom'
institute['course'] = 'Data Science'
institute['duration'] = '3 Months'
print (institute)

{'name': 'Grey Atom', 'course': 'Data Science', 'duration': '3 Months'}

In [52]:

print (institute['name'])
print (institute['course'])
print (institute['duration'])

Grey Atom
Data Science
3 Months

In [48]:
# Iterating over a dict iterates over its keys.
d = {'r': 'red', 'g': 'green', 'b': 'blue', 'c': 'cyan'}
#for key in d: print (key) #for key in dict.keys(): print key

['c', 'r', 'b', 'g']
{3: 'red', 4: 'blue', 5: 'green'}

{3: 'red', 4: 'blue', 5: 'green'}

# Set
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable.

In [47]:

# set of integers
s = {1, 2, 3, 2, 3}
print(s)

{1, 2, 3}

In [46]:

# Set of different data types
s = {1.0, "Hello world", (1, 2, 3)}
print (s)

{1.0, 'Hello world', (1, 2, 3)}

In [44]:

# Empty set
s = set([1,2,3, 1])

if "a" in {"a": 1}:
    print (True)
else:
    print (False)
    
l = [3, 3, 2, 4, 2, 10]
print (set(l))

True
{10, 2, 3, 4}

In [41]:
set([2, 3, 4, 10])

{2, 3, 4, 10}

In [40]:
# find unique elements
l = [1,2,3,2,1,5,6,5,5,5]
unique = set()
for x in l:
    if x not in unique:
          unique.add(x)
print (unique)

{1, 2, 3, 5, 6}

In [39]:

# Set of odd number up to 20
a = {x for x in range(20) if x % 2 != 0}
print (a)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [38]:

# Other methods
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(4)
print(my_set)

# remove an element
my_set.remove(6)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}

# Set Operations

In [37]:

# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print (A|B)
print (A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:

# INTERSECTION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print (A & B)
print (A.intersection(B))

{4, 5}
{4, 5}

In [35]:

# DIFFERENCE
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print (A - B)
print (A.difference(B))

{1, 2, 3}
{1, 2, 3}

In [34]:

# SYMMETRIC DIFFERENCE
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print (A ^ B)
print (A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}


# Tuple
A tuple is similar to a list. Tuples are immutable arrays of arbitrary elements. The elements of a tuple cannot be changed once it is assigned whereas in a list, elements can be changed.

In [33]:
t = (1, 2.5, 3, "Hello World")
print (t)
t[1] = 8 # immutable
print (t)

(1, 2.5, 3, 'Hello World')

TypeError: ignored

In [31]:
# lists to tuples and tuples to lists - zip
# The zip function in python accepts a number of sequences (such as lists or arrays) and returns a list of tuples

a = range(0,5)
b = range(5,10)
c = range(10,15)
sequence_of_tuples = zip(a, b, c)
print(sequence_of_tuples)

<zip object at 0x7f87c945b708>

In [32]:

# zip () in conjuction with * operator can be used to unzip a list
a1,b1,c1 = zip(*sequence_of_tuples)
print(a1)
print(b1)
print(c1)

(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)
(10, 11, 12, 13, 14)

In [29]:
# *tuple means "treat this tuple as positional arguments to this function call."
def foo(x,y):
    print(x,y)

t = (1,2)
foo(*t)

1 2

In [28]:

# **dict means "treat the key-value pairs in the dictionary as additional named arguments to this function call."
def foo(x,y):
    print(x,y)

d = {'x':1, 'y':2}
foo(**d)

1 2

In [27]:
# Function signature
def foo(*x):
    print(x)

foo(1,2)

(1, 2)

In [26]:
# Function signature
def foo(**d):
    print(d)
foo(x=1, y=2)

{'x': 1, 'y': 2}

In [25]:

# Accessing Elements in a Tuple
my_tuple = ['p','e','r','m','i','t']

print(my_tuple[0])
print(my_tuple[5])
print(my_tuple[-2]) # from right

p
t
i

In [24]:

# Slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [23]:
# Deleting a Tuple
t = (1, 2.5, 3, "Hello World")
print (t)
del (t)
print (t)

(1, 2.5, 3, 'Hello World')

NameError: ignored

In [22]:

# Iterating through a Tuple
#t = (1, 2.5, 3, "Hello World")
#for value in t:
#    print (value)

l = [1,2,3]
l[2] = 4
print (l)

[1, 2, 4]

In [20]:
# Immutable object
x = 3 # int data type
y = x # y is pointing to x

y = 5 # change y, x should not changed - immutable

print (x)
print (y)

3
5

In [19]:

# Mutable object
list1 = [1,2,3,4,5] # A list
list2 = list1       # list2 is pointing to the same memory location as list 1
list2.append(8)     # if list2 is changed, list1 will also change - mutable

print (list1)
print (list2)

[1, 2, 3, 4, 5, 8]
[1, 2, 3, 4, 5, 8]

In [17]:

# inefficient code
container = ["A","B","C","D","E"]
string_build = ""
for data in container:
    string_build += str(data)

string_build

'ABCDE'

In [18]:

# More efficient
"".join(container)

'ABCDE'

In [15]:

# Copying a list
colours1 = ["red", "green"]
colours2 = colours1
colours2[1] = "blue"
colours1

['red', 'blue']

In [14]:
# Copy with the Slice Operator
colours1 = ["red", "green"]
colours2 = colours1[:]
colours2[1] = "blue"
print (colours1)
print (colours2)

['red', 'green']
['red', 'blue']

In [10]:

# Copy with the extend Operator
colours1 = ["red", "green"]
colours2= []
colours2.extend(colours1)
colours2[1] = "blue"
print (colours1)
print (colours2)

['red', 'green']
['red', 'blue']

In [13]:

# Copy with the list Operator
colours1 = ["red", "green"]
colours2 = colours1
colours2[1] = "blue"
print (colours1)
print (colours2)

['red', 'blue']
['red', 'blue']

In [5]:
# Copy with the copy Operator
import copy
colours1 = ["red", "green"]
colours2= copy.copy(colours1)
colours2[1] = "blue"
print (colours1)
print (colours2)

['red', 'green']
['red', 'blue']

In [4]:

# Deep copy
import copy

list_a = [[3, 4], [5, 6, [7, 8]]]
list_b = copy.deepcopy(list_a)

list_a[0][1] = 9 # change the first list, second list shoud not change

#print (list_a)
#print (list_b)

l = [1, 2, 3, 4, ["a", "b", "c"]]
m = copy.copy(l)

m.append(5)

l[4].append("d")

print (m)

[1, 2, 3, 4, ['a', 'b', 'c', 'd'], 5]

[1, 2, 3, 4, ['a', 'b', 'c', 'd'], 5]

[1, 2, 3, 4, ['a', 'b', 'c', 'd'], 5]

In [3]:

# Convert Celsius to Fahrenheit
# Formula: ((float(9)/5)*x + 32)

Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = [ ((float(9)/5)*x + 32) for x in Celsius ]
print (Fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

In [2]:

# Find out whether a list is a palindrome

list = ['a', 'b', 'c', 'b', 'a']
print (list == list[::-1])

# Remove duplicate from the below list

t = [1, 2, 3, 1, 2, 5, 6, 7, 8]
s = []
for i in t:
       if i not in s:
          s.append(i)
print (s)

True
[1, 2, 3, 5, 6, 7, 8]

In [1]:

# Given this nest dictionary grab the word "hello".

d = {' k1':[1,2,3, {' tricky' :[' oh' ,' man' ,' inception' , {' target':[1,2,3,' hello']}]}]}
d[' k1'][3][' tricky'][3][' target'][3]

' hello'

In [71]:
a = range(10)
a

range(0, 10)